template(name="gameHistory")
  div.chat.well
    unless currentUser
      +splash
    else
      .gamehistory
        h2 Finished games
        table(align="center")
          thead
            tr
              th game
              th winner
              th started
              //th completed
              th duration
              //th age
          tbody
            each endedGames
              tr
                td(width="360"): a.white(href="{{pathFor route='game.page'}}") #{name}
                td(width="90"): span.small.text-lowercase #{winner} 
                td(width="155"): span.small.text-lowercase {{formatDate2 submitted}}
                //td(width="200"): span.small.text-lowercase {{formatDate2 stopped}}
                td(width="95"): span.small.text-lowercase {{formatTimeDiff submitted stopped}}
                //td(width="120"): span.small.text-lowercase {{formatDate stopped}}
